*{
    margin: 0;
    padding: 0;
}

#type{
    display: flex;
    flex-direction: column; /* <-- très important */
    align-items: flex-start; /* pour que le texte commence à gauche */
    padding: 1rem 2rem;
    width: 100%;
    height: auto;
    left: 0;
    position: fixed;
    justify-content: flex-start;
    box-shadow: inset 5px 0px 4px -3px rgba(25, 89, 215, 0.8);
}

h3{
    display: flex;
    width: 100%;
    align-items: center;
}

#jeux{
  
    display: flex;
    height: 5rem;
    width: 100%;
    margin-top: 10rem; 
}


.nav-links {
 display: flex;
 flex-direction: row;
 height: 10rem;
}