.HeaderOrganisation{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 2rem;
    width: 100%;
    height:auto;
    position: relative; 
    justify-content: flex-start;
    box-shadow: inset 5px 0px 4px -3px rgba(25, 89, 215, 0.8);
    margin-top: 6rem; 
}

#organisationButton{
    display: flex;
    align-items: center;
    padding: 0.5rem;
    margin: 1rem;
    border: none;
    background-color: rgb(32, 80, 255);
    color: white;
    justify-content: flex-end;
    border-radius: 0.2rem;
    transition: transform 0.3s ease-in-out;
}

#organisationButton:hover{
    background-color: aquamarine;
    color: black;
}

#warning{
    margin: 1rem;
}
#table{
    width: "100%";
    border-radius: 0.2rem;
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
    width: 100%;
}

a {
    margin: 2rem;
}

a:hover{
    color: rgb(142, 210, 210);
}