*{
    margin: 0;
    padding: 0;
}



#personnalizePart {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 2rem;
    width: 100%;
    height:auto;
    position: relative; 
    justify-content: flex-start;
    box-shadow: inset 5px 0px 4px -3px rgba(25, 89, 215, 0.8);
    margin-top: 6rem; 
}

#personnalizePart h3 {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 1rem;
}

#personnalizePart p {
    margin-bottom: 0.5rem;
}

#personnalizeElement{
   display : flex;
   padding: 2vh;
   justify-content: space-around; 
   position: relative; 
   top: 5rem;
   border: 1px solid black;
   border-radius: 2rem;
   height: 10rem;
   box-shadow: 0px 0px 0px rgba(25, 89, 215, 0.8);
}


#element1{
    width: 100%;
    height: 5vh;
}

#sousElement{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;  
}

#buttonApercue{
    border: none;
    background-color: white;
    width: 25%;
}
#buttonApercue:hover{
    background-color: rgb(189, 189, 191);
    border-radius: 1rem;
}
#element2{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
}